.desktop {
  /* background-color: black; */
  color: #fff;
}
.desktop .navmenu {
  display: flex;
  justify-content: flex-end;
}
.desktop .navmenu ul {
  display: flex;
  align-items: center;
}
.desktop .navmenu ul li {
  list-style: none;
  margin: 0px 32px;
}
.navmenu {
  display: block;
}
.navmenures {
  display: none;
}

.desktop .navmenu .action {
  display: flex;
  background: #2d2d2dad;
  padding: 18px 30px;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
  position: relative;
}

.desktop .navmenu .action .border1 {
  height: 25px;
  width: 25px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.4s ease-in-out;
}
.desktop .navmenu .action .border2 {
  height: 25px;
  width: 25px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  bottom: 0;
  right: 0px;
  transition: 0.4s ease-in-out;
}
.desktop .navmenu .action .border3 {
  height: 25px;
  width: 25px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 0;
  transition: 0.4s ease-in-out;
  left: 0px;
}
.desktop .navmenu .action .border4 {
  height: 25px;
  width: 25px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: 0;
  right: 0px;
  transition: 0.4s ease-in-out;
}

.desktop .navmenu .action:hover .border1 {
  width: 50%;
  height: 50%;
}
.desktop .navmenu .action:hover .border2 {
  width: 50%;
  height: 50%;
}
.desktop .navmenu .action:hover .border3 {
  width: 50%;
  height: 50%;
}
.desktop .navmenu .action:hover .border4 {
  width: 50%;
  height: 50%;
}

.sidebar {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
