.pera {
  font-size: 60px;
  font-weight: bold;
  width: 100%;
  color: #fff;
  display: inline-block;
  margin: 100px 0px;
  text-align: center;
}
.products .content {
  padding: 0px;
  margin: 10px 0px;
  position: relative;
}

.products .content .border1 {
  height: 100px;
  width: 100px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  bottom: 0;
  left: 0px;
}
.products .content .border2 {
  height: 100px;
  width: 100px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  bottom: 0;
  right: 0px;
}
.products .content .border3 {
  height: 100px;
  width: 100px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 0;
  left: 0px;
}
.products .content .border4 {
  height: 100px;
  width: 100px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: 0;
  right: 0px;
}

.img .content .des {
  text-align: center;
  background: #31313182;
  padding: 10px;
}
.footer .single ul li {
  font-size: 40px;
}

@media screen and (max-width: 320px) {
  .footer .single ul li {
    font-size: 20px;
  }

  .single ul li {
    margin: 0px 20px;
    cursor: pointer;
  }
  .partner .single .border1,
  .partner .single .border2,
  .partner .single .border3,
  .partner .single .border4 {
    height: 50px;
    width: 50px;
  }
  .details .border1,
  .details .border2,
  .details .border3,
  .details .border4 {
    height: 50px;
    width: 50px;
  }
  .footer .single {
    padding: 10px;
  }
  .pera {
    font-size: 40px;
    margin: 50px 0px 20px;
  }
  .section {
    width: 85%;
  }
  .section.right .content {
    margin-left: 6px;
  }
  .right::before {
    width: 10px;
  }

  /* hero */
  .details .heroh1,
  .topfaq .heroh1 {
    line-height: 27px;
  }
  .details .border1,
  .details .border2,
  .details .border3,
  .details .border4 {
    height: 50px;
    width: 50px;
  }
  .details {
    padding: 10px 0px;
  }
}
